# IDE
.idea/
.project/
nbproject/
.buildpath/
.settings/
*.sublime-*

# OS
.DS_Store
*.AppleDouble
*.AppleDB
*.AppleDesktop

# tooling
vendor/
.phpunit.result.cache

# tests
tests/**/_generated/
tests/_output/*
!tests/_output/.gitkeep
