parameters:
    level: 8
    paths:
        - src/

    excludePaths:
        - '%rootDir%/../../../src/Nos/Yves/TwigCodeSniffer/TokenParser/*'

    bootstrapFiles:
        - '%rootDir%/../../../phpstan-bootstrap.php'
